<html>
  <head>
    <title>Product App</title>
    <link rel='stylesheet' type='text/css' href='style.css'>

  </head>
  <style>
    .demo {
      width: 100px;
      height: 100px;
      background-color: gray;
      display: inline-block;
      margin: 10px;
    }
    .red {
      background-color: red;
    }

    .green {
      background-color: green;
    }

    .blue {
      background-color: blue;
    }
  </style>
  <body>
   </body>
  <div id="app">
 <button v-on:click="increase(2, $event)"> Click Me</button>
 <p> {{ counter }} </p>
 <p> Result: {{ result }} </p>
 <p v-on:mousemove='updateCoordinates'>
   Coordinates: {{ x }} / {{ y}}
  -<span v-on:mousemove.stop=''> DEAD SPOT</span> </p>
  <input type='text' v-on:keyup.space.enter='alertMe'>
  </div>
  <hr>
  <div id='app2'>
    <div class='demo' @click='attachedRed = !attachedRed' :class='divClasses'></div>
    <div class='demo' :class='[color, { red: attachedRed}]'></div>
    <div class='demo' @click='attachedRed = !attachedRed' :class='{ red: attachedRed}'></div>
    <div class='demo' :style='{backgroundColor: color}'></div>
    <div class='demo' :style='myStyle'></div>
    
    <br>
    <input type='text' v-model='color'>
    <input type='text' v-model='width'>
  </div>
  <script src="vue.js" ></script>
  <!-- <script src="vuex.js" ></script> -->
  <script src="main.js"></script>
  <script>
  </script>
</html>